<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <ion-button routerLink="/google-maps-javascript">Google Maps Javascript</ion-button>
    </ion-col>
    <ion-col size="10">
      <ion-button routerLink="/google-maps-capacitor">Google Maps Capacitor</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      {{radiusLabel?.infoLabel}}
    </ion-col>
    <ion-col size="12" style="height: 75vh">
      <app-google-maps-javascript [showLimitCircle]="true" (limitRadiusEmitter)="radiusLabel = $event"></app-google-maps-javascript>
    </ion-col>
  </ion-row>
</ion-content>
